

body {
    color: rgb(52, 58, 64);
    font-size: 15px;
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0;

    align-items: center;
    justify-content: center;
    
    }

.header-logo-img {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    }

.header-logo-img2 {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    }

.without-header {
    width:70%;

    margin-left: auto;
    margin-right: auto;
}

.footer{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 55px;
    padding-left: 55px;
    margin-left: 55px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.info-contact-social {
    background-color: rgb(165, 172, 166);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    border-radius: 50%;
  }

  .info-contact {
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

.info-contact-social img {
    height: 14px;
  }

.date-selector {
    letter-spacing: 1px;
    width: 250px;
    line-height: 2.0;
    padding-left: 30px;
    padding-bottom: 15px;
    margin-top: 5px;
    align-items: center;
    margin-bottom: 15px;
}

.hex-number {
    width: 10px;
    letter-spacing: 1px;
    padding-left: 50px;
    align-items: center;
    line-height: 2.0;
    margin-top: 5px;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 30px;
}

.checklist {
    display: flex;
    letter-spacing: 1px;
    width: 150px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 10px;  
}

.range-slider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-area {
    align-items: center;
    width: 50%;
    padding-left: 30px;
}

.text-area-a {
    align-items: center;
    width: 100px;
    margin-bottom: 30px;  
    margin-top: 30px;
}

.show-button {
    width: 120px;
    border-radius: 3px;
    margin: 10px;
    margin-left: 46%;
    font-size: 15px;
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.show-button:hover {
    background-color: #3e7740; /* Green */
    color: white;
  }

.pick-data {
    letter-spacing: 1px;
    width: 700px;
    line-height: 2.0;
    padding-left: 300px;
    padding-right: 170px;
    padding-bottom: 15px;
    margin-top: 5px;
    align-items: center;
    margin-bottom: 15px;
}

.pick-data2 {
    letter-spacing: 1px;
    width: 500px;
    line-height: 2.0;
    padding-left: 0px;
    padding-right: 280px;
    padding-bottom: 15px;
    margin-top: 5px;
    align-items: center;
    margin-bottom: 15px;
}

.rc-slider-track {
    background-color: #4CAF50;
}

.rc-slider-dot-active {  
    border-color: #4CAF50;
    border: solid 2px #4CAF50;
  }

  .rc-slider-handle {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }

  .rc-slider-handle:hover {
    border-color: red;
  }

  .rc-slider-handle-active:active {
    border-color: red;
  }